body, #tabs, #one-text, #two,#four,#clarify{
    display: flex;
    flex-direction: column;
}
#top-bar, #two,#four,#clarify{
    align-items: center;
}
body{
    color: white;
    height:100vh;
    font-family: 'Roboto';
    margin:0;
}
#tabs{
    flex:1 1 0;
}
#top-bar{
    flex-grow: 1;
    height:fit-content;
    gap:10px;
    border-bottom: dotted cyan 3px;
}
.main-thing{
    font-size: 40px;
    margin:10px 0;
}
#one, #five, #top-bar{
    background-color: darkblue;
}
#one,#two,#three,#four,#five{
    flex:1 1 auto;
}
img{
    height:auto;
    width:300px;
    flex-shrink: 2;
}
#one{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex: 1 1 auto;
}
#one-text{
    flex-wrap: wrap;
    width: 40vw;
    flex-shrink: 0;
}
.welcome, .intro{
    font-size: 50px;
}
.intro{
    margin-bottom:10px;
}
#two, #four{
    color:black;
}
#four{
    background-color: lightgray;
    padding-top: 10px;
}
.about{
    width:50vw;
    font-size: 30px;
    margin-top:10px;
}
#sayer{
    text-align: end;
    margin-left: 60%;
}
#three{
    color: black;
    border-top: solid black 1px;
}
#flex{
    font-size: 40px;
    margin: 5px auto 5px 10px;
}
#five{
    text-align: center;
}
a{
    text-decoration: none;
    color: darkblue;
    font-size:30px;
    padding-left: 3%;
}
#clarify{
    font-size: 10px;
    justify-content: center;
}